@page
@model UmatiGateway.Pages.UmatiMqttModel
@{
    ViewData["Title"] = "UMATI Mqtt";
}
<h1>Umati Mqtt</h1>

<p>Configure your Umati Mqtt.</p>

<form method="post">
    <div style="float:left; width:50%">
    <table>
        <tr>
            <td align="left" width="140px"><label for="ConnectionType">ConnectionType</label></td>
            <td align="left">
                <input type="radio" id="Websocket" name="ConnectionType" value="Websocket">
                <label for="Websocket">Websocket</label>
                <input type="radio" id="Tcp" name="ConnectionType" value="Tcp">
                <label for="Tcp">Tcp</label><br>
            </td>
        </tr>
        <tr>
            <td align="left" width="140px"><label for="MqttUser">User</label></td>
            <td align="left"><input type="text" size ="60" id="MqttUser" name="MqttUser" value="@Model.MqttUser"></td>
        </tr>
        <tr>
            <td align="left" width="140px"><label for="Password">Password</label></td>
            <td align="left"><input type="password" size="60" id="Password" name="MqttPassword" value="@Model.Password"></td>
        </tr>
        <tr>
            <td align="left" width="140px"><label for="ClientId">ClientId</label></td>
            <td align="left"><input type="text" size="60" id="ClientId" name="MqttClientId" value="@Model.ClientId"></td>
        </tr>
        <tr>
            <td align="left" width="140px"><label for="Prefix">Prefix</label></td>
            <td align="left"><input type="text" size="60" id="Prefix" name="MqttPrefix" value="@Model.Prefix"></td>
        </tr>
        <tr>
            <td align="left" width="140px"><label for="MqttConnection">ConnectionUrl</label></td>
            <td align="left"><input id="MqttConnection" size="60" type="text" name="ConnectionUrl" value="@Model.ConnectionUrl"></td>
        </tr>
        <tr>
            <td align="left" width="140px"><label for="Port">Port</label></td>
            <td align="left"><input id="Port" size="60" type="text" name="Port" value="@Model.Port"></td>
         </tr>
        <tr>
            <td></td>
            <td align="right">
                <button asp-page-handler="Connect" class="button">Connect</button>
                <button asp-page-handler="Disconnect" class="button">Disconnect</button>
            </td>
        </tr>
    </table>
    <p></p>
    <table>
        <tr>
            <td align="left" width="140px"><label for="MqttSession">User</label></td>
            <td align="left"><input type="text" size="60" id="MqttSession" name="MqttSession" value="@Model.MqttUser"></td>
        </tr>
    </table>
    </div>
    <div style="float:right; width:50%">
        <span>Published structured Nodes:</span>
    </div>
</form>
